{% extends 'base.html' %}
{% block content %}
    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Реєстрація нових користувачіа</h2>
            <p>Для реєстрації введіть свій логін і пароль<br></p>
        </div><!-- End Section Title -->
        <div class="container" data-aos="fade-up">
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <button type="submit">Register</button>
            </form>
        </div>
    </section>
{% endblock %}