
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename">{{ title|safe }}</h1>
        </a>
        {% include 'includes/nav.html' %}
        <a class="btn-getstarted" href={% if user.is_authenticated %}#footer{% else %}{% url 'login' %}{% endif %}>Написати менеджеру</a>
        <a class="btn-getstarted" href={% if user.is_authenticated %}{% else %}{% url 'register' %}{% endif %}>Зареєструватися</a>
        <a class="btn-getstarted" href={% if user.is_authenticated %}{% url 'logout' %}{% endif %}>Вийти</a>
    </div>
</header>