{% load is_manager_tag %}
<nav id="navmenu" class="navmenu">
    <ul>
        <li><a href="#index.html" class="active">Home<br></a></li>
        <li><a href="#about.html">About</a></li>
        <li><a href="#courses.html">Courses</a></li>
        <li><a href="#trainers.html">Trainers</a></li>
        <li><a href="#events.html">Events</a></li>
        <li><a href="#pricing.html">Pricing</a></li>
        {% if user|is_manager_tag %}
            <li><a href="{% url 'manager' %}">Manager</a></li>
        {% endif %}
        <li><a href="#contact.html">Contact</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>