{% load static %}
<section id="hero" class="hero section dark-background">

      <img src="{% static "assets/img/hero-bg.jpg" %}" alt="" data-aos="fade-in">

      <div class="container">
          <h2 data-aos="fade-up" data-aos-delay="100">Твій старт в IT — <br>з нами впевнено і професійно!</h2>
          <p data-aos="fade-up" data-aos-delay="200">Наші викладачі — не лише досвідчені практики з реальним досвідом у топових компаніях, а й справжні наставники, які вміють пояснити складне просто, надихнути та підтримати на кожному етапі навчання. Їхня мета — не просто навчити, а допомогти вам повірити в себе й досягти успіху в IT.</p>
          <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="courses.html" class="btn-get-started">Get Started</a>
          </div>
      </div>

</section><!-- /Hero Section -->