{% extends 'base.html' %}
{#{% load static %}#}

{% block content %}
    <!-- Hero Section -->
    {% include 'hero.html' %}

    <!-- About Section -->
    {% include 'about.html' %}

    <!-- Counts Section -->
    {% include 'counts.html' %}

    <!-- Why Us Section -->
{#    {%  include 'why_us.html' %}#}

    <!-- Features Section -->
    {% include 'features.html' %}

    <!-- Courses Section -->
    {% include 'courses.html' %}

    <!-- Trainers Index Section -->
    {% include 'trainers_index.html' %}

     <!-- Contact Section -->
    {% include 'reservation.html' %}


{% endblock %}