<section id="contact" class="contact section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <h5>Якщо Ви бажаєте більше дізнатися про навчання в нашій школі - заповніть форму і ми з Вами обов'язково зв'яжемося </h5>
                </div>
            </div>
            <div class="col-lg-8">
                <form action="{% url 'home' %}" method="post"  data-aos="fade-up" data-aos-delay="200">
                    {% csrf_token %}
                    <div class="row gy-4">
                        {% for form_field in reservation %}
                            {% if form_field.name != 'message' %}
                                <div class="col-md-6">
                                    {{ form_field }}
                                    <div class="validate">{{ field.errors }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="form-group mt-3">
                        {{ reservation.message }}
                    <div class="validate"></div>

                    <button type="submit">Надіслати заявку</button>
                </form>
            </div>
        </div>
    </div>
</section>

